.form {
    background-image: url("../../images/bannerbackground.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: #FCF4E0;
    height: 100vh;
}

.form .container {
    padding-top: 7vh;
    padding-bottom: 15vh;
}

.silver-bg {
    background-color: rgb(245, 245, 245);
}

.small-font {
    font-size: 14px;
}

.logo {
    width: 180px;
    margin-top: 30px;
}

@media only screen and (min-width: 1361px) {
    .form .container {
        width: 25%;
    }
}